Win32/
Win64/
ENU/Win32/
ENU/Win64/
*.exe
!lib_Win32/*.dll
!lib_Win64/*.dll
*.dcu
__history/
__recovery/
*.local
*.stat
*.deployproj
*.drc
*.dres
*.res
*.otares
*.identcache
*.map
*.tvsconfig
*Resource.rc
*.dpr32
*.dpr64
*.lnk
*.log
*.rcn
